<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Sorry Error occured!</h1>
    <p>We'r working on fixing this, sorry for inconvenience!</p>

<%- include('includes/end.ejs') %>